<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Announcements</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>Announcements</h2>
    <hr />
    <button id="createAnnouncementButton">Create Announcement</button>

    <div id="announcementModal" class="modal">
      <div class="modal-content">
        <span class="close close-create">&times;</span>
        <h3>Create Announcement</h3>
        <form id="announcementForm">
          <label for="announcementTitle">Title:</label>
          <input type="text" id="announcementTitle" name="title" /><br /><br />
          <label for="announcementMessage">Message:</label>
          <textarea id="announcementMessage" name="message"></textarea><br /><br
          />
          
          <button type="submit" id="broadcastButton">Broadcast</button>
        </form>
      </div>
    </div>

    <div id="editAnnouncement" class="modal">
      <div class="modal-content">
        <span class="close close-edit">&times;</span>
        <h3>Edit Announcement</h3>
        <form id="editAnnForm">
          <label for="editAnnTitle">Title:</label>
          <input type="text" id="editAnnTitle" name="title" /><br /><br />
          <label for="editAnnMessage">Message:</label>
          <textarea id="editAnnMessage" name="message"></textarea><br /><br
          />

          {{!-- hidden inputs for ids --}}
          <input type="hidden" id="user_id" name="user_id"/>
        <input type="hidden" id="announcement_id" name="announcement_id"/>
          
          <button type="submit" id="confirmEditButton">Confirm</button>
        </form>
      </div>
    </div>

    <main>
      <div id="announcements-list">

        <p>Announcements will be stored in this list and will show up on the
          landing page of the site. This is just to show non-tenants all the
          announcements.They can also delete the announcement.
        </p>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Message</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each announcements}}
            <tr>
              <td>{{this.title}}</td>
              <td>
                <span class="announcement-short">{{truncate this.message 90}}</span>
                {{!-- added helper, but need FEDs to handle responsiveness --}}

                <a href="#" class="read-more" data-id="{{this._id}}" onclick="openModal('{{this._id}}', '{{this.title}}', '{{this.message}}')">Read more</a>

              <td>
                <!-- TODO: Need Update -->
                <!-- Does not have a listener yet,, (it uses the same class but can have a unique data-id I will leave the management of this unique id to you guys)
                If you guys prefer to use a different class (Its more of a personal pref from my side since I don't have to add any extra buttons on CSS [line 322] but if you pref 
                to add a button because it makes ur lives harder then just add it on the same styling class as the edit-button TY T_T) -->
                <button class="edit-button" data-id="{{this._id}}">Edit</button>
                <button class="delete-button" data-id="{{this._id}}">Delete</button>
              </td>
            </tr>
            {{/each}}
            <!-- TODO: (BACKEND DEVS) Update placeholders  -->
          </tbody>
        </table>
        <!-- List of announcements will be dynamically loaded here -->
        <!-- Needs backend dev work -->
        <!-- or just msg me when theres a way to fetch the announcements and I can do it-->
      </div>

      <div id="fullAnnouncement" class="announcement-full">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 id="modalTitle"></h3>
            <p id="modalMessage"></p>
        </div>
      </div>
    </main>
    <div id="pagination">
      <button id="prevPage">Previous</button>
      <span id="pageNumbers"></span>
      <button id="nextPage">Next</button>
    </div>
    <hr />
    <script>
        window.userRole = "{{userRole}}";
        window.userId = "{{userId}}";
    </script>
    <script src="/script/announcements.js"></script>

  </body>
</html>