<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/f6e41f73e1.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h2>User Management</h2>
    <hr />
    <button id="addUserButton">Add User</button>
    <div id="addUserModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add New User</h3>
        <form id="addUserForm">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" /><br /><br />
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="firstname" /><br /><br />
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" /><br /><br />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
          <i class="fas fa-eye toggle-password" id="togglePassword"></i><br /><br />
          <label for="role">Role:</label>
          <select id="role" name="role">
            <option value="admin">Admin</option>
            <option value="tenant">Tenant</option>
            <option value="floor leader">Floor Leader</option>
            <option value="building leader">Building Leader</option>
            <option value="finance">Finance</option>
          </select><br /><br />

          <label for="bldg_num">Building Number:</label>
          <select id="bldg_num" name="bldg_num">
            <option value="1">Building 1</option>
            <option value="2">Building 2</option>
            <option value="3">Building 3</option>
            <option value="4">Building 4</option>
            <option value="5">Building 5</option>
            <option value="6">Building 6</option>
            <option value="7">Building 7</option>
            <option value="8">Building 8</option>
            <option value="9">Building 9</option>
            <option value="10">Building 10</option>
            <option value="11">Building 11</option>
            <option value="12">Building 12</option>
          </select><br /><br />

          <label for="flr_num">Floor Number:</label>
          <input type="number" id="flr_num" name="flr_num"/><br><br>

          <label for="address">Address:</label>
          <input type="text" id="address" name="address"/><br><br>

          <label for="meter_num">Meter Number:</label>
          <input type="text" id="meter_num" name="meter_num"/><br><br>

          <button type="submit" id="submitUserButton">Submit</button>
        </form>
      </div>
    </div>
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Edit User</h3>
            <form id="editUserForm">
                <input type="hidden" id="editUserId" name="editUserId" />
                <label for="editUsername">Username:</label>
                <input type="text" id="editUsername" name="editUsername" /><br /><br />
                <label for="editFirstname">First Name:</label>
                <input type="text" id="editFirstname" name="editFirstname" /><br /><br />
                <label for="editLastname">Last Name:</label>
                <input type="text" id="editLastname" name="editLastname" /><br /><br />
                <label for="editPassword">Password:</label>
                <input type="password" id="editPassword" name="editPassword" />
                <i class="fas fa-eye toggle-password" id="togglePasswordEdit"></i><br /><br />
                <label for="editRole">Role:</label>
                <select id="editRole" name="editRole">
                    <option value="admin">Admin</option>
                    <option value="tenant">Tenant</option>
                    <option value="floor leader">Floor Leader</option>
                    <option value="building leader">Building Leader</option>
                    <option value="finance">Finance</option>
                </select><br /><br />

                  <label for="editBldgNum">Building Number:</label>
                  <select id="editBldgNum" name="editBldgNum">
                      <option value="1">Building 1</option>
                      <option value="2">Building 2</option>
                      <option value="3">Building 3</option>
                      <option value="4">Building 4</option>
                      <option value="5">Building 5</option>
                      <option value="6">Building 6</option>
                      <option value="7">Building 7</option>
                      <option value="8">Building 8</option>
                      <option value="9">Building 9</option>
                      <option value="10">Building 10</option>
                      <option value="11">Building 11</option>
                      <option value="12">Building 12</option>
                  </select><br /><br />

                  <label for="editFlrNum">Floor Number:</label>
                  <input type="number" id="editFlrNum" name="editFlrNum"/><br><br>

                  <label for="editAddress">Address:</label>
                  <input type="text" id="editAddress" name="editAddress"/><br><br>

                  <label for="editMeterNum">Meter Number:</label>
                  <input type="text" id="editMeterNum" name="editMeterNum"/><br><br>

                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

    {{!-- generate Billing modal --}}
    <div id="billingModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeBillingModal()">&times;</span>
            <h2>Generate Billing</h2>
            <form id="billingForm">
                {{!-- Generate Ref No. automatically? Is it different from Bill No.?? Should we just remove ref no since it looks
                like they only use it for easy location sa excel? --}}

                <label for="refNo">Ref No.:</label>
                <input type="text" id="refNo" name="refNo" value="0"><br><br>

                <label for="serviceInvoiceNo">Service Invoice No.:</label>
                <input type="text" id="serviceInvoiceNo" name="serviceInvoiceNo" value="0"><br><br>

                <label for="billingPeriodStart">Billing Period Start:</label>
                <input type="date" id="billingPeriodStart" name="billingPeriodStart" required><br><br>

                <label for="billingPeriodEnd">Billing Period End:</label>
                <input type="date" id="billingPeriodEnd" name="billingPeriodEnd" required><br><br>

                <label for="prevReading">Previous Meter Reading:</label>
                <input type="number" id="prevReading" name="prevReading" required><br><br>

                <label for="presentReading">Present Meter Reading:</label>
                <input type="number" id="presentReading" name="presentReading" required><br><br>
                
                <label for="cu-m">Consumption (CU.M):</label>
                <input type="text" id="cu-m" name="cu-m" readonly><br><br>

                <label for="basic-charge">Basic Charge:</label>
                <input type="text" id="basic-charge" name="basic-charge" readonly><br><br>

                <label for="system-loss-charge">System Loss Charge:</label>
                <input type="text" id="system-loss-charge" name="system-loss-charge" value="0"><br><br>

                <label for="water-maintenance-fund">Water Maintenance Fund:</label>
                <input type="text" id="water-maintenance-fund" name="water-maintenance-fund" value="20"><br><br>

                <h3>Current Charges</h3>

                <label for="water">Water:</label>
                <input type="text" id="water" name="monthly-dues" readonly><br><br>

                <label for="monthly-dues">Monthly Dues:</label>
                <input type="text" id="monthly-dues" name="monthly-dues" value="280"><br><br>

                <label for="stp">STP:</label>
                <input type="text" id="stp" name="stp" value="0"><br><br>

                <h3>Previous Charges</h3>

                <label for="prev-unpaid-water">Previous Unpaid (Water):</label>
                <input type="text" id="prev-unpaid-water" name="prev-unpaid-water" value="0"><br><br>

                <label for="prev-unpaid-monthly">Previous Unpaid (Monthly Dues):</label>
                <input type="text" id="prev-unpaid-monthly" name="prev-unpaid-monthly" value="0"><br><br>

                <label for="prev-unpaid-stp">Previous Unpaid (STP):</label>
                <input type="text" id="prev-unpaid-stp" name="prev-unpaid-stp" value="0"><br><br>

                <label for="other-charges">Other Charges:</label>
                <input type="text" id="other-charges" name="other-charges" value="0"><br><br>

                {{!-- Generate Service Invoice No. (CR No.) automatically din?? --}}

                <label for="remarks">Remarks:</label>
                <textarea id="remarks" name="remarks"></textarea><br><br>

                <input type="hidden" id="totalDue" name="totalDue" value="0">

                <button type="button" onclick="calculateCharge()">Calculate Charge</button>
                <button type="button" id="addBillingButton">Confirm Billing</button><br><br>
            </form>
            <h3 id="result"></h3>
        </div>
    </div>

    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Role</th>
            <th>Meter Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each tenants}}
          <tr>
            <td>{{this.firstname}} {{this.lastname}}</td>
            <td>{{this.address}}</td>
            <td>{{this.role}}</td>
            <td>{{this.meter_num}}</td>
            <td>
              <button class="edit-button" data-id="{{this._id}}">Edit</button>
              <button class="delete-button" data-id="{{this._id}}">Delete</button>
              <button class="billing-button" data-id="{{this._id}}">Generate Billing</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{!-- <div id="pagination">
        <button id="prevPage">Previous</button>
        <span id="pageNumbers"></span>
        <button id="nextPage">Next</button>
      </div> --}}
      <hr />
    </main>
    <script>
        window.userRole = "{{userRole}}";
        window.userId = "{{userId}}";
    </script>
    <script src="/script/script.js"></script>
    <script src="/script/add_bill.js"></script>
  </body>
</html>