<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>

</head>
<body>
    <header>
        <h1>Dashboard</h1>
        <div class="header-links">
            <button class="login-button" onClick = "endSession()">Log-Out</button>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <h2>Options</h2>
            {{#if (eq userRole 'tenant')}}
                <a href="/api/tenants/{{userId}}" id="accountDetails" class="option-button">Account Details</a>
                <a href="/api/announcements/all/{{userId}}" id="announcements" class="option-button">Announcements</a>
                <a href="/api/billings/recent/{{userId}}" id="billing" class="option-button">Billing</a>
                <a href="/api/billings/{{userId}}" id="history" class="option-button">Billing/Meter History</a>

            {{else if (eq userRole 'admin')}}
                <a href="/api/tenants/{{userId}}" id="accountDetails" class="option-button">Account Details</a>
                <a href="/api/announcements/all/{{userId}}" id="announcements" class="option-button">Announcements</a>
                <a href="#" id="inbox" class="option-button">Inbox</a>
                <a href="/api/tenants/all/{{userId}}" id="manageUsers" class="option-button">Manage Users</a>
                <a href="/api/billings/admin/view-bills" id="viewBillingsAdmin" class="option-button">View Billings</a>
                <a href="#" id="genReport" class="option-button">Generate Reports</a>

            {{else if (eq userRole 'floor leader')}}
                <a href="/api/tenants/{{userId}}" id="accountDetails" class="option-button">Account Details</a>
                <a href="/api/announcements/all/{{userId}}" id="announcements" class="option-button">Announcements</a>
                <a href="/api/floor-leader/assigned-tenants/{{buildingNum}}/{{floorNum}}" id="tenantAccounts" class="option-button">Tenant Accounts</a>
                <a href="#" id="billingManagement" class="option-button">Billing Management</a>
                <a href="#" id="reports" class="option-button">Reports</a>

            {{else if (eq userRole 'building leader')}}
                <a href="/api/tenants/{{userId}}" id="accountDetails" class="option-button">Account Details</a>
                <a href="/api/announcements/all/{{userId}}" id="announcements" class="option-button">Announcements</a>
                <a href="/api/building-leader/assigned-tenants/{{buildingNum}}" id="tenantAccounts" class="option-button">Tenant Accounts</a>
                <a href="#" id="billingManagement" class="option-button">Billing Management</a>
                <a href="#" id="reports" class="option-button">Reports</a>

            {{else if (eq userRole 'finance')}}
                <a href="/api/tenants/{{userId}}" id="accountDetails" class="option-button">Account Details</a>
                <a href="/api/announcements/all/{{userId}}" id="announcements" class="option-button">Announcements</a>
                <a href="/api/tenants/all/{{userId}}" id="tenantAccounts" class="option-button">Tenant Accounts</a>
                <a href="#" id="billingManagement" class="option-button">Billing Management</a>
                <a href="#" id="reports" class="option-button">Reports</a>
            {{/if}}
        </div>

        <div class="main-content" id = "main-content">
            {{{body}}}
        </div>
    
        </div>
    </main>
    <footer>
        <p>&copy; APOAMF Billing System</p>
        <div class="footer-links">
            <a href="#" class="github">Github</a>
            <a href="#" class="google-doc">Google Document</a>
        </div>
    </footer>
   <script>
        window.userRole = "{{userRole}}";
        window.userId = "{{userId}}";
        window.buildingNum = "{{buildingNum}}";
        window.floorNum = "{{floorNum}}";
    </script>

    <script src="/script/script.js"></script>
</body>
</html>
