<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="print_statement.css">
    <title>Account Details</title>
</head>
<body>

<div class="navbar">
    <a href="#">Home</a>
    <a href="#">LOGOUT</a>
</div>
<div class="options">
    <a href="#">Tenant Accounts</a>
    <a href="#">Billings</a>
    <a href="#">Reports</a>
    <a href="#">Profile</a>
</div>

<div class="table">
    <h2>Account Details</h2>
    <table>
        <thead>
            <tr>
                <th>REF no</th>
                <th>Account Name</th>
                <th>CU.M</th>
                <th>BASIC CHARGE</th>
                <th>SYSTEM LOSS CHARGE</th>
                <th>WATER MAINTENANCE FUND</th>
                <th>CURRENT CHARGES</th>
                <th>PREVIOUS UNPAID ACCOUNT</th>
                <th>OTHER CHARGES</th>
                <th>TOTAL AMOUNT DUE</th>
                <th>REMARKS</th>
            </tr>
        </thead>
        <tbody>
            {{#each accounts}}
            <tr>
                <td>{{this.refNo}}</td>
                <td>{{this.accountName}}</td>
                <td>{{this.cuM}}</td>
                <td>{{this.basicCharge}}</td>
                <td>{{this.systemLossCharge}}</td>
                <td>{{this.waterMaintenanceFund}}</td>
                <td>{{this.currentCharges}}</td>
                <td>{{this.previousUnpaid}}</td>
                <td>{{this.otherCharges}}</td>
                <td>{{this.totalAmountDue}}</td>
                <td>{{this.remarks}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="button">
        <button onclick="exportAsPDF()">Export as PDF</button>
        <button onclick="printPage()">Print</button>
        <button onclick="emailReport()">Email Report</button>
    </div>
</div>

<script src="statement_floorleader_print.js"></script> <!-- Link to the external JavaScript file -->
</body>
</html>
